/* Chat component stylesheet */

.chat-area{
    width: 100%;
    height: calc(100% - 180px);
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    padding-left: 5px;
}

.chat-input{
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 5px;
    background: #FFFFFF;
}

.chat-messages{
    padding: 10px;
}

.chat-messages-item{

}

.chat-messages-item small{
    color: rgba(0, 0, 0, 0.7);
    font-style: italic;
}

.chat-messages-item p{
    background: #b4e1ff;
    color: #0144B9;
    padding: 5px;
}

.chat-message-sent{
    text-align: right;
}

.chat-message-sent p{
    background: #e7f7ff;
    border-radius: 10px 0 10px 10px;
    text-align: right;
}

.chat-message-received p{
    border-radius: 0 10px 10px 10px;
    text-align: left;
}