/* Connect component stylesheet */

.kup-tab-btn{
    font-size: 1.1rem;
    padding: 5px 15px;
    border-bottom: 0.15rem solid transparent;
    cursor: pointer;
}

.tab-active {
    border-bottom: 0.15rem solid #0144B9;
    color: #0144B9;
}

.kup-label{
    opacity: 0.8;
}

.kup-button-default{
    border: 1px solid #0144B9;
    background: #0144B9;
    color: #FFFFFF;
    padding: 10px 4rem;
    border-radius: 5rem;
    outline: 0;
}

.kup-button-default:hover{
    opacity: 0.9;
}

.kup-button-outline{
    border: 1px solid #0144B9;
    background: transparent;
    color: #0144B9;
    padding: 10px 4rem;
    border-radius: 5rem;
    outline: 0;
}

.kup-button-outline:hover{
    opacity: 0.9;
}